.contact{
    height: 700px;
    width:100%;
    background-color: black;
    position: relative;
    }
 
    
.menu{
    width: 100%;
    bottom: 3px;
    position: fixed; 
    background-color: black;
    z-index: 1;
}

h3 {
    height: 20%;
    width: 20%;
    margin: 0 auto;
    color: Wheat ;
    text-align:center;
    font-family: Impact;
    font-size:1500%;
    z-index:-1;
    }

.adress {
    font-family: Monospace;
    color: white;
    height: 30%;
    width: 50%;
    left: 40px;
    position: relative;
    }

  
.ball1{
    height: 200px;
    width: 200px;
    background-color: #34B6E5 ;
    float: right;
    border-radius:100%;
    }

